@model ICollection<PerguntaQuestionarioViewModelAvaliador>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string descPergunta = string.Empty;
}

<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
    <div class="card">
        <div class="body table-responsive">
            <table class="table table-striped">
                <thead>
                <th style="text-align:center">Descricao</th>
                <th style="text-align:center">Excluir</th>
                </thead>
                <tbody>
                    <tr>
                        @foreach (var item in Model)
                        {
                            <td style="text-align:center">
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>

                            <td style="text-align:center">
                                @Html.ActionLink("Excluir", "DeletarPergunta", new { id = item.Id }, new { @class = "btn bg-warning waves-effect col-sm-2" })
                            </td>
                        }
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
