@{
    ViewData["Title"] = "Questionario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    string styles = ".btn-cadastrar { margin: 15px; }";
}

<style>
    @Html.Raw(styles)
</style>

<h1>Questionarios</h1>

<div>
    @Html.ActionLink("Cadastrar", "ExibirTelaCriarAlterar", "Questionario", null, new { @class = "btn bg-teal waves-effect col-sm-1 btn-cadastrar text-white" })
</div>

<section id="PartialViewListarQuestionarios">
    <partial name="~/Views/Questionario/_List.cshtml" />
</section>