@model UsuarioViewModel

@{
    ViewData["Title"] = "Candidatos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
        <div class="header">
            <h2>
                Cadastrar novo usuário
            </h2>
        </div>
        <div class="body">
            <form asp-action="Create">
                <div class="row clearfix">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                        <div class="form-group">
                            <div class="form-line">
                                <input asp-for="cpf" type="text" class="form-control" placeholder="Digite o CPF">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                        <div class="form-group">
                            <div class="form-line">
                                <input asp-for="nome" type="text" class="form-control" placeholder="Digite o Nome completo">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                        <div class="form-group">
                            <div class="form-line">
                                <input asp-for="login" type="text" class="form-control" placeholder="Digite o login">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                        <div class="form-group">
                            <div class="form-line">
                                <input asp-for="perfil" type="text" class="form-control" placeholder="Digite o perfil">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                        <div class="form-group">
                            <div class="form-line">
                                <input asp-for="senha" type="password" class="form-control" placeholder="Digite uma senha">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <input type="submit" value="Salvar" class="btn btn-outline-success" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>