@using interview.web.Models.Enums;
@model UsuarioViewModel

@{
    ViewData["Title"] = "Meu usuário";
    Layout = "~/Views/Shared/_Layout.cshtml";

    if (Model.perfil == Perfil.Avaliador)
        Layout = "~/Views/Shared/_Layout.cshtml";
    else
        Layout = "~/Views/Shared/_LayoutCandidato.cshtml";
}

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card" style="margin-top: 100px;">
        <div class="header">
            <h2>
                Alterar usuário
            </h2>
        </div>

        <div class="body">
            <form asp-action="Edit">
                <div class="body table-responsive">
                    @Html.HiddenFor(model => model.id)
                    <div class="row">
                        <div class="form-line" style="padding: 0 35px 0 35px;">
                            <label asp-for="cpf" class="control-label">Documento</label>
                            <input asp-for="cpf" type="text" class="form-control" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-line" style="padding: 0 35px 0 35px;">
                            <label asp-for="nome" class="control-label">Nome completo</label>
                            <input asp-for="nome" type="text" class="form-control" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-line" style="padding: 0 35px 0 35px;">
                            <label asp-for="login" class="control-label">Login</label>
                            <input asp-for="login" type="text" class="form-control" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-line" style="padding: 0 35px 0 35px;">
                            <label asp-for="senha" class="control-label">Senha</label>
                            <input asp-for="senha" type="password" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row justify-content-end">
                    <div class="form-line col-2" style='text-align: right;'>
                        @Html.ActionLink("Voltar", "Index")
                        <input type="submit" value="Salvar" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>