@{
    ViewData["Title"] = "Candidatos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Usuários do portal</h1>

<section id="PartialViewListarUsuarios">
    <partial name="~/Views/Usuario/_List.cshtml" />
</section>