@{
    ViewData["Title"] = "Candidatos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Usuários do portal</h1>

<section id="PartialViewCadastroUsuario">
    <div class="body">
        <a class="btn bg-success waves-effect m-b-15 text-white" role="button" data-toggle="collapse" href="#cadastroUsuario" aria-expanded="false" aria-controls="cadastroUsuario">
            Cadastrar
        </a>
        <div class="collapse out" id="cadastroUsuario" aria-expanded="false" style="">
            <partial name="~/Views/Usuario/_Create.cshtml" />
        </div>
    </div>
</section>
<section id="PartialViewListarUsuarios">
    <partial name="~/Views/Usuario/_List.cshtml" />
</section>