@model PerguntaViewModel

@{
    ViewData["Title"] = "Cadastro de perguntas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card" style="margin-top: 100px;">
        <div class="header">
            <h2>
                Cadastrar Pergunta
            </h2>
        </div>
        <div class="body">
            <form asp-action="Create">
                <div class="row clearfix">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="form-line">
                                <label asp-for="Descricao" class="control-label">Pergunta</label>
                                <input asp-for="Descricao" type="text" class="form-control" placeholder="Digite a pergunta">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-line">
                                <label asp-for="AreaConhecimento" class="control-label">Area de Conhecimento</label>
                                <input asp-for="AreaConhecimento" type="text" class="form-control" placeholder="Digite a area de conhecimento">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="form-line">
                            <label asp-for="Resposta1" class="control-label">Alternativa 1</label>
                            <input asp-for="Resposta1" type="text" class="form-control" placeholder="Digite uma respostas">
                            <input name="radio-correta" asp-for="Correta1" type="radio" class="ch" value="1">
                            <label for="Correta1">Alternativa correta</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-line">
                            <label asp-for="Resposta2" class="control-label">Alternativa 2</label>
                            <input asp-for="Resposta2" type="text" class="form-control" placeholder="Digite uma respostas">
                            <input name="radio-correta" asp-for="Correta2" type="radio" class="ch" value="2">
                            <label for="Correta2">Alternativa correta</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-line">
                            <label asp-for="Resposta3" class="control-label">Alternativa 3</label>
                            <input asp-for="Resposta3" type="text" class="form-control" placeholder="Digite uma respostas">
                            <input name="radio-correta" asp-for="Correta3" type="radio" class="ch" value="3">
                            <label for="Correta3">Alternativa correta</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-line">
                            <label asp-for="Resposta4" class="control-label">Alternativa 4</label>
                            <input asp-for="Resposta4" type="text" class="form-control" placeholder="Digite uma respostas">
                            <input name="radio-correta" asp-for="Correta4" type="radio" class="ch" value="4">
                            <label for="Correta4">Alternativa correta</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-line">
                            <label asp-for="Resposta5" class="control-label ">Alternativa 5</label>
                            <input asp-for="Resposta5" type="text" class="form-control" placeholder="Digite uma respostas" heigth="50%">
                            <input name="radio-correta" asp-for="Correta5" type="radio" class="ch" value="5">
                            <label for="Correta5">Alternativa correta</label>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-end">
                    <div class="col-2" style='text-align: right;'>
                        @Html.ActionLink("Voltar", "Index")

                        <input type="submit" value="Salvar" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".alert").fadeTo(4000, 300).slideDown(300, function () {
            $(".alert").slideDown(300);;
        })
    });
</script>