@{
    ViewData["Title"] = "Candidatos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    string styles = ".btn-cadastrar { margin: 15px; }";
}

<style>
    @Html.Raw(styles)
</style>


<h1>&nbsp;</h1>

<div>
    @Html.ActionLink("Cadastrar", "Create", "Pergunta", null, new { @class = "btn bg-teal waves-effect col-sm-1 btn-cadastrar" })
</div>

<section id="PartialViewListarPerguntas">
    <partial name="~/Views/Pergunta/_List.cshtml" />
</section>