@{
    ViewData["Title"] = "Candidatos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />
<br />
@Html.ActionLink("Cadastrar", "Create", "Pergunta", null, new { @class = "btn bg-teal waves-effect col-sm-1" })
<br />
<br />
<html>
<body>
    <div>
        <partial name="~/Views/Pergunta/_List.cshtml" />
    </div>
</body>
</html>