@model AreaConhecimentoViewModel

@{
    ViewData["Title"] = "Áreas de conhecimento";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Acao = (Model.id == null || Model.id == Guid.Empty) ? "Cadastrar" : "Alterar";
}

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card" style="margin-top: 100px;">
        <div class="header">
            <h2>
                @Acao Area de Conhecimento
            </h2>
        </div>
        <div class="body">
            <form asp-action="AdicionarAlterarQuestionario">
                @Html.HiddenFor(modelItem => Model.id)
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <div class="form-line">
                                <label asp-for="descricao" class="control-label">Descrição</label>
                                <input asp-for="@Model.descricao" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-end">
                    <div class="col-2" style='text-align: right;'>
                        @Html.ActionLink("Voltar", "Index")

                        <input type="submit" value="@Acao" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>