@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Áreas de conhecimento</h1>
<div>
    @Html.ActionLink("Cadastrar", "Create", "AreaConhecimento", null, new { @class = "btn bg-teal waves-effect col-sm-1" })
</div>
<section id="PartialViewListarAreasConhecimento">
    <partial name="~/Views/AreaConhecimento/_List.cshtml" />
</section>
