<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Skill Check - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/interview.web.styles.css" asp-append-version="true" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <link href="~/material-design/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="~/material-design/plugins/node-waves/waves.css" rel="stylesheet" />
    <link href="~/material-design/plugins/animate-css/animate.css" rel="stylesheet" />
    <link href="~/material-design/css/style.css" rel="stylesheet">
    <link href="~/material-design/css/themes/all-themes.css" rel="stylesheet" />
    <link href="~/css/alert.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                @* <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Skill Check</a> *@
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Avaliacao" asp-action="Index">Avaliação</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="AreaConhecimento" asp-action="Index">Área de Conhecimento</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Pergunta" asp-action="Index">Perguntas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Questionario" asp-action="Index">Questionários</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Usuario" asp-action="Index">Meu cadastro</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="alert">
        @Html.Raw(ViewBag.Alert);
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Skill Check
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/material-design/plugins/jquery/jquery.min.js"></script>
    <script src="~/material-design/plugins/bootstrap/js/bootstrap.js"></script>
    <script src="~/material-design/plugins/bootstrap-select/js/bootstrap-select.js"></script>
    <script src="~/material-design/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
    <script src="~/material-design/plugins/node-waves/waves.js"></script>
    <script src="~/material-design/plugins/jquery-countto/jquery.countTo.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>