@model interview.web.Models.LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Skill Check - Login</title>

    <link rel="icon" href="~/material-design/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <link href="~/material-design/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="~/material-design/plugins/node-waves/waves.css" rel="stylesheet" />
    <link href="~/material-design/plugins/animate-css/animate.css" rel="stylesheet" />
    <link href="~/material-design/css/style.css" rel="stylesheet">

    <link href="~/material-design/plugins/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/material-design/plugins/node-waves/waves.css" rel="stylesheet" />
    <link href="~/material-design/plugins/animate-css/animate.css" rel="stylesheet" />
    <link href="~/material-design/css/style.css" rel="stylesheet" />
</head>
<body class="login-page bg-white">
    <div class="login-box bg-white">
        <div class="logo">
            <a href="javascript:void(0);" style="color:dodgerblue;">Skill <b>CHECK</b></a>
            <small style="color:dodgerblue;">Portal de entrevistas corporativo</small>
        </div>
        <div class="card">
            <div class="body">
                <form asp-action="Login">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                        <div class="form-line">
                            <input asp-for="login" type="text" class="form-control" name="login" placeholder="Digite seu login" required autofocus />
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                        <div class="form-line">
                            <input asp-for="senha" type="password" class="form-control" name="senha" placeholder="Digite sua senha" required autofocus />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-8">
                            <a href="Usuario/Create">Crie um usuário aqui</a>
                        </div>
                        <div class="col-xs-4">
                            <button class="btn btn-outline-light" type="submit">Login</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="alert">
            @Html.Raw(ViewBag.Alert);
            @Html.Raw($"<script>console.log('{ViewBag.Alert}')</script>");
        </div>
    </div>
</body>
</html>
<script src="~/material-design/plugins/jquery/jquery.min.js"></script>
<script src="~/material-design/plugins/bootstrap/js/bootstrap.js"></script>
<script src="~/material-design/plugins/node-waves/waves.js"></script>
<script src="~/material-design/plugins/jquery-validation/jquery.validate.js"></script>
<script src="~/material-design/js/admin.js"></script>
<script src="~/material-design/js/pages/examples/sign-in.js"></script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}